body{
	font-family: 'Raleway', sans-serif;
}

.hero{

	background: url('../img/bg-herooo.jpg') no-repeat;
	background-size: cover;
	background-position: left;
	min-height: 300px;
	padding-bottom:10rem;
}

.carousel-indicators li{
width: 10px;
height: 10px ;
border-radius: 50%;
}
